@use '../abstracts' as *;

.collage {
	width: 90vw;
	margin: 80px -5vw;
	@include flex;
	@include responsive(sm) {
		width: 100vw;
	}

	div {
		width: 23%;
		height: 70vh;
		background: url('https://d1swvgohc7oxrg.cloudfront.net/filer_public/92/ba/92ba69a4-690c-480e-a49b-50e4574cd871/house_render.jpg')
			no-repeat center fixed;
		background-size: cover;
		@include responsive(sm) {
			display: none;
		}
	}

	img {
		display: none;
		@include responsive(sm) {
			display: flex;
			object-fit: cover;
			width: 100%;
			height: 400px;
		}
	}
}
