@use '../abstracts' as *;

.header {
	height: 90vh;
	background: url('https://cdn.wallpapersafari.com/91/40/WiUNAm.jpg') no-repeat
		center fixed;
	background-size: cover;
	background-color: $color-text;
	background-blend-mode: multiply;
	color: $color-white;

	.heading-wrapper {
		display: block;
		margin: 5% auto 0;
		width: fit-content;

		@include responsive(md) {
			margin: 20% 10%;
			br {
				display: none;
			}
		}

		img {
			width: 150px;
			margin-bottom: 40px;
		}

		p {
			font-size: 1.25rem;
			font-weight: 500;
			text-align: center;
			margin-bottom: 60px;
			color: $color-white;
		}

		button,
		a {
			display: flex;
			margin: auto;
			border: 1px solid $color-white;
			color: $color-white;
			width: 200px;
			height: 60px;
			text-transform: capitalize;
			font-size: 1rem;
			font-weight: 500;
		}
	}
}
