.header {
	height: 90vh;
	background: url('https://cdn.wallpapersafari.com/91/40/WiUNAm.jpg') no-repeat
		center fixed;
	background-size: cover;
	background-color: $color-secondary;
	background-blend-mode: multiply;
	color: $color-white;

	.heading-wrapper {
		margin: 0 24%;
		margin-top: 5%;

		h1 {
			font-size: 3.5rem;
			font-weight: 800;
		}

		img {
			width: 150px;
			margin-bottom: 40px;
		}

		p {
			font-size: 1.25rem;
			font-weight: 500;
			text-align: center;
			margin-bottom: 60px;
		}

		button {
			display: block;
			margin: auto;
			border: 1px solid white;
			color: white;
			width: 200px;
			height: 60px;
			text-transform: capitalize;
			font-size: 1rem;
			font-weight: 500;
		}
	}
}
