// @use '../abstracts' as *;

.partners {
	// background-color: $color-secondary;
	// box-shadow: 0 0 0 100vmax $color-secondary;
	// clip-path: inset(0 -100vmax);
	overflow: hidden;
	padding: 40px 0;

	.logo-wrapper {
		overflow: hidden;
		display: flex;
		height: auto;
		width: 1250px;

		img {
			width: 150px;
			min-width: 150px;
			margin-left: 100px;
			object-fit: contain;
			animation: slideLeft 10s linear infinite;
		}
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-1250px);
	}
}
