@use '../abstracts' as *;

.projects {
	margin-top: 100px;
	padding: 50px 0;
	background-color: $color-grey;
	box-shadow: 0 0 0 100vmax $color-grey;
	clip-path: inset(0 -100vmax);

	.collage-wrapper {
		display: grid;
		place-items: center;
		margin-bottom: 40px;

		.kiWCaP {
			width: 100%;
		}
	}

	.button-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}
