.projects {
	margin-top: 150px;

	.collage-wrapper {
		display: grid;
		place-items: center;
		margin-bottom: 40px;

		.kiWCaP {
			width: 100%;
		}
	}

	.button-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}
