@use '../abstracts' as *;

.projects {
	h1 {
		margin-bottom: 40px;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(4, 25%);

		@include responsive(xl) {
			grid-template-columns: repeat(3, 33%);
			row-gap: 40px;
		}

		@include responsive(lg) {
			grid-template-columns: repeat(2, 50%);
		}

		@include responsive(md) {
			grid-template-columns: 100%;
		}

		.project-card {
			display: block;
			margin: 0 auto;
		}
	}
}
