@use '../abstracts' as *;

.testimonial-card {
	position: relative;
	border: 1px solid #cfcfcf;
	border-radius: 25px;
	height: 300px;
	max-width: 400px;
	min-width: 280px;
	display: grid;
	place-items: center;
	padding: 20px;

	img {
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translatex(-50%);
		width: 45px;
	}

	.text {
		font-weight: 700;
		text-align: left;
	}

	.name {
		display: flex;
		margin-left: auto;
	}
}
