@use '../abstracts' as *;

h1 {
	font-size: 3rem;
	font-weight: 700;
	@include responsive(md) {
		font-size: 2rem;
		line-height: 3rem;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 600;
}

h3 {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
}

h6 {
	color: $color-primary;
	font-size: 0.875rem;
	font-weight: 700;
}

p {
	color: $color-text;
}
